<ion-header>
  <ion-navbar class="productoNavBar">
    <ion-title>Mesa - Alta</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="productoMenu">
  <form [formGroup]="altaMesaForm" (submit)="AltaMesa()">
    <ion-list>
      <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
        <ion-label class="titulo" style="color: white;" fixed>Numero</ion-label>
        <ion-input class="titulo" style="color: white;" type="number" [formControl]="numero" required readonly name="numero">
        </ion-input>
      </ion-item>
      <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
        <ion-label class="titulo" style="color: white;" fixed>Comensales</ion-label>
        <ion-input class="titulo" style="color: white;" type="number" [formControl]="cantidadComensales"
          name="cantidadComensales"></ion-input>
      </ion-item>
      <ion-item padding style="background-color: rgba(0,0,0,0.7) !important; color: white; border-radius: 10px;">
        <ion-label class="titulo" style="color: white;" fixed>Tipo</ion-label>
        <ion-select class="titulo" style="color: white;" name="tipoMesa" [formControl]="tipoMesa"
          placeholder="">
          <ion-option value="vip">VIP</ion-option>
          <ion-option value="discapacitados">Discapacitados</ion-option>
        </ion-select>
      </ion-item>
      <div padding>
        <button type="submit" class="loginButton" large ion-button color="primary" [disabled]="!altaMesaForm.valid"block>Registrar</button>
      </div>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-fab bottom right>
    <button ion-fab class="loginProfileButton" (click)="SacarFoto()" [disabled]="!altaMesaForm.valid">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>
