page-pages-encuestas-usuarios{
    .encuestasUsuariosItem{
        background-color: transparent;
        padding: 0%;
        border-bottom: transparent;
    }
    .list-md .item-block .item-inner {
        border-bottom: transparent;
    }
} 