page-pages-producto-carga-masiva {
  .label-md {
    margin: 2.5% !important;
  }

  .menuButtonPPT {
    margin: 0px;
  }

  .item-md .item-button {
    padding: 10%;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.9);
    margin: 5%;
    width: 90%;
  }
}
